.bg {
  position: absolute;
  width: 1px;
  height: 1px;
  right: 0;
  top: 0;
  border: none;
  border-radius: 50%;
  transition: box-shadow 1200ms 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  .open & {
    box-shadow: 0 0 0 200vmax rgba(239, 239, 239, 0.95);
    transition: box-shadow 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .dark & {
    filter: invert(90%);
  }
}
