$default-light: #ebece5;
$license: #7b7b7b90;
$selection-light: #ffe28599;
$selection-dark: #85f7ffb4;
$hover-light: #e7a500;
$hover-dark: #ffea9f;

$sun: #E99A00;
$moon: #d0e9ff;

$hamburguer-line-dark:white;
$hamburguer-bg2-dark:#2d2d2d;
$hamburguer-bg-dark:#515151;
