@use "./color" ;

footer {
  display: flex;
  text-align: center;
  padding-bottom: 3vmin;

  .license {
    justify-self: center;
    flex-grow: 1;
    font-size: 0.8rem;
    color: color.$license;
    pointer-events: none;
  }
}
