header {
  padding-top: 4vh;
  display: flex;
  justify-content: space-between;

  .header-top {
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .title {
      font-size: 1.25rem;
      letter-spacing: -1px;
      line-height: 1.2;
      font-weight: 400;

      @media (min-width: 40em) {
        & {
          font-size: 1.5rem;
        }
      }
    }

    .right-btn {
      display: flex;
      position: relative;
      gap: 2vmin;
    }
  }

  nav {
    position: absolute;
    margin-top: calc(8vh + 48px);
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    gap: 2vmin;
    overflow-y: scroll;

    @media (min-width: 40em) {
      margin-top: calc(8vh + 60px);
    }
  }
}
