header {
  padding-top: 4vh;
  display: flex;
  justify-content: space-between;

  .header-top {
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    .title {
      font-size: 1.25rem;
      letter-spacing: -1px;
      line-height: 1.2;
      font-weight: 400;

      @media (min-width: 40em) {
        & {
          font-size: 1.5rem;
        }
      }
    }

    .right-btn {
      display: flex;
      position: relative;
      gap: 2vmin;
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
  }
}
