@use "./font";

header {
  padding-top: 3vmin;
  position: relative;
  display: flex;
  justify-content: space-between;
  
  .title{
    font-size: 2.25rem;
    font-weight: 300;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
  }
}
