@use "sass:string";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.App {
  position: relative;

  canvas {
    position: fixed;
    top: 0;
    left: 0;          
    outline: none;
    z-index: -9;
    width: 100%;
  }
}




